{#if $cp === cp}
<div
  class="selected icon {cp}"
  title='{title(titlePrefix, cp)}'
></div>
{:else}
<a
  class="icon {cp}"
  title='{title(titlePrefix, cp)}'
  on:click='$set({cp})'
  href='{url({cp, mad: "cp", $page, $tn, $cp, $it, $sex, $mad})}'
> </a>
{/if}

<script>
  import {store, url, cpTitle} from '../store.js';
  export default {
    store: () => store,
    helpers: {
      title: (titlePrefix, cp) => (
        (titlePrefix ? titlePrefix : "" ) + cpTitle(cp)
      ),
      url: ({cp}) => url({cp}),
    },
  };
</script>

<style>
.icon.selected { background-color: yellow }
.icon {
  display: block;
  height: 15px;
  width: 15px;
  background-image: url(/IEPFTRLS.gif);
}
.Ne { /* Эстравертная интуиция, (I)ntueor, Интуиция возможностей */
  background-position: -0px top;
}
.Ni { /* Интровертная интуиция, (T)empus, Интуиция времени */
  background-position: -60px top;
}
.Se { /* Экстравертная сенсорика, (F)actor, Силовая сенсорика */
  background-position: -45px top;
}
.Si { /* Интровертная сенсорика, (S)ensus, Сенсорика комфорта */
  background-position: -105px top;
}
.Te { /* Экстравертная логика, (P)rofiteor, Деловая логика */
  background-position: -30px top;
}
.Ti { /* Интровертная логика, (L)ogos, Структурная логика */
  background-position: -90px top;
}
.Fe { /* Экстравертная этика, (E)moveo, Этика эмоций */
  background-position: -15px top;
}
.Fi { /* Интровертная этика, (R)elatio, Этика отношений */
  background-position: -75px top;
}
</style>
