<!-- ModelAForType {typeName} -->
<h4>
  <a href="">Дон Кихот</a>
</h4>
<table>
  <tbody>
    <tr>
      <td>
        <a class="Ne" title="базовая функция (1): интуиция возможностей"></a>
      </td>
      <td>
        <a class="Ne" title="базовая функция (1): интуиция возможностей"></a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<style>
h4 {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
  font-size: 100%;
  font-weight: normal;
  white-space: nowrap;
}
a { display: block; height: 15px; width: 15px }
.Ne {
  background-image: url(http://socionics.baza-winner.ru/IEPFTRLS.gif);
}
</style>


