<!-- ModelAForType {tn} -->
<h4>
  <a href="">Дон Кихот</a>
</h4>
<table>
  <tbody>
    <tr>
      <td>
        <Icon cp="Ne" titlePrefix="базовая функция (1): "/>
      </td>
      <td>
        <Icon cp="Ti" titlePrefix="творческая функция (2): "/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<script>
  import {store, urlQuery} from '../store.js';
  export default {
    store: () => store,

    // computed: {
      // query: ({$cp, $tn, $sex}) => urlQuery({}),
    // },
    components: {
      Icon: './CognitiveProcessIcon.html',
    }

  };
</script>

<style>
h4 {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
  font-size: 100%;
  font-weight: normal;
  white-space: nowrap;
}
</style>


